<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Listado de Colores</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <style>

        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

        /* Esconde scrollbars */
        html {
            overflow-y: scroll; /* Permite el desplazamiento vertical. */
            scrollbar-width: none; /* Para Firefox */
        }

        html::-webkit-scrollbar {
            display: none; /* Para Safari y Chrome */
        }

        body, html {
            font-family: 'Noto Sans', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            color: #555; /* Color del texto principal */
            min-height: 100vh;
        }

        .header-bar {
            background-color: #491D57; /* Color del header */
            color: white;
            padding: 10px 20px;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .home-icon, .placeholder {
            flex: 1; /* Asegura que el ícono y el placeholder tengan la misma flexibilidad */
            color: white;
            text-decoration: none;
            display: flex;
            align-items: center;
            font-family: 'Arial', sans-serif; /* Establece la fuente del texto */
            font-size: 15px; /* Establece el tamaño del texto */
            gap: 5px;
        }

        .title-container {
            text-align: center;
            flex-grow: 7;
        }

        .button-40 {
            padding: 10px 20px;
            background-color: #e0e0e0; /* Botón en estado normal */
            color: #555; /* Color del texto del botón */
            border: none;
            border-radius: 10px;
            margin-right: 40px;
            cursor: pointer;
            transition: transform 0.2s ease, background-color 0.3s ease, color 0.3s;
        }

        .button-40:hover {
            background-color: #491D57; /* Fondo del botón al pasar el mouse */
            color: white; /* Color del texto al pasar el mouse */
            transform: translateY(2px); /* Efecto de desplazamiento */
        }

        .container {
            padding-top: 60px; /* Suficiente espacio para el encabezado */
            padding-bottom: 20px;
            width: 90%;
            margin: auto;
            max-height: 100%;
            overflow: auto; /* Permite desplazamiento dentro del contenedor */
        }

        table {
            width: 100%;
            border-collapse: collapse;
            box-shadow: 0 0 20px rgba(0,0,0,0.1);
        }

        th, td {
            padding: 15px;
            background-color: rgba(255,255,255,0.2);
            text-align: left;
        }

        thead th {
            background-color: #491D57; /* Color de cabecera de la tabla */
            color: white; /* Color del texto de la cabecera de la tabla */
        }

        tbody tr:hover {
            background-color: rgba(255,255,255,0.3);
        }

        .volver-button {
            background-color: #e0e0e0; /* Botón en estado normal */
            color: #555; /* Color del texto del botón */
            padding: 10px 20px;
            text-decoration: none;
            border: none;
            display: inline-flex;
            align-items: center;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: transform 0.2s ease, background-color 0.3s ease, color 0.3s;
        }

        .volver-button:hover {
            background-color: #491D57; /* Fondo del botón al pasar el mouse */
            color: white; /* Color del texto al pasar el mouse */
            transform: translateY(2px); /* Efecto de desplazamiento */
        }

        .material-icons {
            margin-right: 8px; /* Espacio entre el ícono y el texto */
        }

    </style>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/tinycolor2@1.4.2/dist/tinycolor-min.js"></script>
    <script>
        function calcularContraste(foregroundColor, backgroundColor) {
            const fgColor = tinycolor(foregroundColor);
            const bgColor = tinycolor(backgroundColor);
            return fgColor.getBrightness() / bgColor.getBrightness();
        }

        function rgbAHex(rgb) {
            const rgbArr = rgb.match(/\d+/g);
            return `#${((1 << 24) + (parseInt(rgbArr[0]) << 16) + (parseInt(rgbArr[1]) << 8) + parseInt(rgbArr[2])).toString(16).slice(1)}`;
        }

        document.addEventListener('DOMContentLoaded', () => {
            const whiteColor = '#FFFFFF';

            document.querySelectorAll('td').forEach(td => {
                const backgroundColor = window.getComputedStyle(td).backgroundColor;
                const bgColorHex = backgroundColor.startsWith('rgb') ? rgbAHex(backgroundColor) : backgroundColor;
                const contrast = calcularContraste(whiteColor, bgColorHex);
                if (contrast < 1.5) {
                    td.style.color = '#000000'; // Cambiar el color del texto a negro
                }
            });
        });

        function confirmDelete(id) {
            Swal.fire({
                title: '¿Estás seguro?',
                text: "No podrás revertir esto",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminarlo'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById(`delete-form-${id}`).submit();
                }
            });
        }
    </script>
</head>

<body>
    <div class="header-bar">
        <a href="/" class="home-icon">
            <span class="material-symbols-outlined"></span><b>Inicio</b>
        </a>
        <div class="title-container"><b>Tabla Colores</b></div>
        <button type="button" class="button-40" onclick="location.href='/admin/colores/crear'" style="margin-right: 50px">Crear Nuevo</button>
    </div>

    <div class="container">
        <h2>Colores</h2>
        
        <div class="filter-container">
            <form method="GET" action="/admin/colores/listar" class="filter-form">
                <div class="filter-group">
                    <input type="text" name="id" placeholder="ID Integrante" class="filter-input col-id-integrante">
                    <input type="text" name="background" placeholder="Color de Fondo" class="filter-input col-color-fondo">
                    <input type="text" name="headerBackground" placeholder="Color de Cabecera" class="filter-input col-color-cabecera">
                    <input type="text" name="sectionBackground" placeholder="Color de Sección" class="filter-input col-color-seccion">
                    <button type="submit" class="button-40">Filtrar</button>
                </div>
            </form>
        </div>

        {{#if colores.length}}
        <table class="table custom-table">
            <thead>
                <tr>
                    <th class="col-id-integrante">ID Integrante</th>
                    <th class="col-color-fondo">Color de Fondo</th>
                    <th class="col-color-cabecera">Color de Cabecera</th>
                    <th class="col-color-seccion">Color de Sección</th>
                    <th style="text-align: center;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each colores}}
                <tr>
                    <td class="col-id-integrante"><a href="/admin/colores/{{this.integranteId}}/editar">{{this.integranteId}}</a></td>
                    <td class="col-color-fondo" style="background-color: {{this.background}};">{{this.background}}</td>
                    <td class="col-color-cabecera" style="background-color: {{this.headerBackground}};">{{this.headerBackground}}</td>
                    <td class="col-color-seccion" style="background-color: {{this.sectionBackground}};">{{this.sectionBackground}}</td>
                    <td style="text-align: center;">
                        <button class="volver-button" onclick="location.href='/admin/colores/{{this.integranteId}}/editar'">
                            <span class="material-icons">edit</span>Editar
                        </button>
                        <button class="volver-button" onclick="confirmDelete('{{this.integranteId}}')">
                            <span class="material-icons">delete</span>Eliminar
                        </button>
                        <form id="delete-form-{{this.integranteId}}" method="POST" action="/admin/colores/{{this.integranteId}}/eliminar" style="display: none;">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{csrfToken}}">
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <p>No hay colores disponibles</p>
        {{/if}}
        <button class="volver-button" onclick="location.href='/admin/colores'">
            <span class="material-icons">arrow_back</span>Volver
        </button>
    </div>
</body>

</html>
