<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #ffffff; /* Fondo blanco */
            font-family: 'Noto Sans', sans-serif;
            font-weight: 100;
            color: #555;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: rgba(255, 255, 255, 0.2);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            width: 300px;
        }

        h1 {
            text-align: center;
            color: #555; /* Color del texto del título */
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin: 10px 0 5px;
            color: #555; /* Color del texto del label */
        }

        input[type="text"],
        input[type="password"] {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff; /* Fondo de los inputs */
            color: #555; /* Color del texto de los inputs */
        }

        .button-40 {
            padding: 10px 20px;
            background-color: #491D57; /* Fondo del botón en estado normal */
            color: white;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            text-align: center;
            margin-top: 10px;
        }

        .button-40:hover {
            background-color: #6f2c82; /* Fondo del botón al pasar el mouse */
            color: #fff; /* Color del texto al pasar el mouse */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form action="/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit" class="button-40">Login</button>
        </form>
    </div>
    {{#if flashMessages.error}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            title: 'Error',
            text: '{{flashMessages.error}}',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    </script>
    {{/if}}

    {{#if flashMessages.success}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            title: 'Éxito',
            text: '{{flashMessages.success}}',
            icon: 'success',
            confirmButtonText: 'OK'
        });
    </script>
    {{/if}}
</body>
</html>